#score{
  display: block;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  font-size: 3.5vh;
  background-color: rgba(197, 196, 197, 0.49);
  height: 4vh;
}

#levels{
  display: block;
}

.level, #play, #lockbtn{
  display: inline-block;
	width: 5vw;
	height: 8vh;
	margin: 0.4vw;
	cursor: pointer;
	text-align:center;
	font-size: 0.5vw;
	transition: 0.5s ease;
  background-color: #da4baf;
  border-radius: 15px;
}

.level:hover, #play:hover, #lockbtn:hover{
  background-color: #d824a2;
}

.lvlselect{
  background-color: #960ee0;
}

#play{
  background-color: #2dad3e;
}

#play:hover{
  background-color: #8be075;
}

#lockbtn{
  background-color: #787978;
}

#lockbtn:hover{
  background-color: #a9aba9;
}

.level .header{
  display: block;
  margin-top:1vh;
  font-size: 3vh;
  text-align: center;
}

.level .starContainer{
  text-align: center;
  width: 100%;
  height: 49%;
  margin-top:1vh;
  padding: 1%;
}

.star{
  display: inline-block;
  width: 25%;
  height: 49%;
}

.star img, #play img, #lockbtn img{
  width: 100%;
  height: 100%;
}

#score .star{
  float: left;
  width: 3vw;
  height: 4vh;
}
